{
  "BasedOnStyle": "LLVM",
  "IndentWidth": 4,
  "TabWidth": 4,
  "UseTab": "Never",
  "ColumnLimit": 120,
  "AccessModifierOffset": -4,
  "AlignAfterOpenBracket": "Align",
  "AlignConsecutiveAssignments": false,
  "AlignConsecutiveDeclarations": false,
  "AlignEscapedNewlinesLeft": false,
  "AlignOperands": true,
  "AlignTrailingComments": true,
  "AllowAllParametersOfDeclarationOnNextLine": true,
  "AllowShortBlocksOnASingleLine": false,
  "AllowShortCaseLabelsOnASingleLine": false,
  "AllowShortFunctionsOnASingleLine": "None",
  "AllowShortIfStatementsOnASingleLine": false,
  "AllowShortLoopsOnASingleLine": false,
  "AlwaysBreakAfterDefinitionReturnType": "None",
  "AlwaysBreakAfterReturnType": "None",
  "AlwaysBreakBeforeMultilineStrings": false,
  "AlwaysBreakTemplateDeclarations": true,
  "BinPackArguments": true,
  "BinPackParameters": true,
  "BraceWrapping": {
    "AfterClass": false,
    "AfterControlStatement": false,
    "AfterEnum": false,
    "AfterFunction": true,
    "AfterNamespace": false,
    "AfterStruct": false,
    "AfterUnion": false,
    "AfterExternBlock": false,
    "BeforeCatch": false,
    "BeforeElse": false,
    "BeforeLambdaBody": false,
    "BeforeWhile": false,
    "IndentBraces": false,
    "SplitEmptyFunction": false,
    "SplitEmptyRecord": false,
    "SplitEmptyNamespace": false
  },
  "BreakBeforeBinaryOperators": "None",
  "BreakBeforeBraces": "Attach",
  "BreakBeforeTernaryOperators": true,
  "BreakConstructorInitializersBeforeComma": false,
  "BreakAfterJavaFieldAnnotations": false,
  "BreakStringLiterals": true,
  "CompactNamespaces": false,
  "ContinuationIndentWidth": 4,
  "DerivePointerAlignment": false,
  "DisableFormat": false,
  "ExperimentalAutoDetectBinPacking": false,
  "ForEachMacros": [ "foreach", "Q_FOREACH", "BOOST_FOREACH" ],
  "IncludeCategories": {
    "1": {
      "Priority": 1,
      "Regex": "^<.*\\.h>"
    },
    "2": {
      "Priority": 2,
      "Regex": "^<.*>"
    },
    "3": {
      "Priority": 3,
      "Regex": ".*"
    }
  },
  "IncludeIsMainRegex": "([-_](test|unittest))?$",
  "IndentCaseLabels": true,
  "IndentWidth": 4,
  "IndentWrappedFunctionNames": false,
  "JavaScriptQuotes": "Leave",
  "JavaScriptWrapImports": true,
  "KeepEmptyLinesAtTheStartOfBlocks": false,
  "MacroBlockBegin": "",
  "MacroBlockEnd": "",
  "MaxEmptyLinesToKeep": 1,
  "NamespaceIndentation": "None",
  "ObjCBlockIndentWidth": 2,
  "ObjCSpaceAfterProperty": false,
  "ObjCSpaceBeforeProtocolList": true,
  "PenaltyBreakBeforeFirstCallParameter": 1,
  "PenaltyBreakComment": 300,
  "PenaltyBreakFirstLessLess": 50,
  "PenaltyBreakString": 1000,
  "PenaltyExcessCharacter": 1000000,
  "PenaltyReturnTypeOnItsOwnLine": 60,
  "PointerAlignment": "Right",
  "ReflowComments": true,
  "SortIncludes": true,
  "SpaceAfterCStyleCast": false,
  "SpaceAfterTemplateKeyword": true,
  "SpaceBeforeAssignmentOperators": true,
  "SpaceBeforeCtorInitializerColon": true,
  "SpaceBeforeInheritanceColon": true,
  "SpaceBeforeParens": "ControlStatements",
  "SpaceBeforeRangeBasedForLoopColon": true,
  "SpaceInEmptyParentheses": false,
  "SpacesBeforeTrailingComments": 1,
  "SpacesInAngles": false,
  "SpacesInCStyleCastParentheses": false,
  "SpacesInContainerLiterals": true,
  "SpacesInParentheses": false,
  "SpacesInSquareBrackets": false,
  "Standard": "c11",
  "TabWidth": 4,
  "UseTab": "Never"
}
